<!DOCTYPE html>

<html><!-- InstanceBegin template="/Templates/Template.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Window-target" content="_top">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Mr. Lan {{ .content.Title }}</title>
    <!-- InstanceEndEditable -->
    <meta name="Author" contect="Mr. Lan">
	<meta name="Copyright" content="Mr. Lan">
	<meta name="keywords" content="个人博客,Mr. Lan" />
	<meta name="description" content="Mr. Lan，一个Golang/Python程序员的个人博客，记录博主学习和成长之路，分享Python/Golang方面技术和源码。" />
	<meta property="og:title" content="Mr. Lan" />
	<meta property="og:title" content="Mr. Lan 网站首页" />
	<meta property="og:type" content="个人博客" />
	<meta property="og:url" content="http://www.fdevops.com" />
	<meta property="og:image" content="http://www.fdevops.com/static/images/logo.png" />
	<meta property="og:site_name" content="www.fdevops.com" />
	<meta property="og:description" content="Mr. Lan，一个Golang/Python程序员的个人博客，记录博主学习和成长之路，分享Python/Golang方面技术和源码。" />

	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
	<link href="../static/css/loading.css" rel="stylesheet" />
	<link href="../static/css/scroll-bar.css" rel="stylesheet" />
	<link href="../static/Eextend/layui/css/layui.css" rel="stylesheet" media="all" />
	<link href="../static/css/common.css" rel="stylesheet" />
	<link href="../static/css/suspension.css" rel="stylesheet" />
	<link href="../static/css/animate.css" rel="stylesheet" />
	<link href="../static/Eextend/iconfont/iconfont.css" rel="stylesheet" />

	<link href="/static/editormd/css/editormd.css" rel="stylesheet">

	<script src="../static/Eextend/iconfont/iconfont.js"></script>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/Eextend/layui/layui.js"></script>
	<script src="/static/js/baiduStatistics.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--
               ▄              ▄
              ▌▒█           ▄▀▒▌
              ▌▒▒▀▄        ▀▒▒▒▐
             ▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
           ▄▄▀▒▒▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
         ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▐
        ▐▒▒▒▄▄▄▒▒▒▒▒▒▒▒▒▒▒▒▒▀▄▒▒▌
        ▌▒▒▐▄█▀▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
       ▐▒▒▒▒▒▒▒▒▒▒▒▌██▀▒▒▒▒▒▒▒▒▀▄▌
       ▌▒▀▄██▄▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
       ▌▀▐▄█▄█▌▄▒▀▒▒▒▒▒▒░░░░░░▒▒▒▐
      ▐▒▀▐▀▐▀▒▒▄▄▒▄▒▒▒  typecho  ▒▌
      ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒░░░░░░▒▒▒▐
       ▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
       ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▐
        ▀ yo-du ▒▒▒▒▒▒▒▒▒▒▒▄▒▒▒▒▌
          ▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
         ▐▀▒▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
        ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀▀

        --你好，世界！生活，从敲的第一行代码开始。
    -->
	<div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="loading_object" id="object_four"></div>
                <div class="loading_object" id="object_three"></div>
                <div class="loading_object" id="object_two"></div>
                <div class="loading_object" id="object_one"></div>
            </div>
        </div>
    </div>
    <header>
        <nav>
            <div class="logo">
              <a target='_blank' href="/blog/index">
                    <img src="../static/images/logo.png" oncontextmenu="return false;" ondragstart="return false;" />
                </a>
            </div>
            <!-- 汉堡菜单 -->
          <input type="checkbox" id="togglebox" />
            <ul>
                <li><a href="/blog/index" style="font-size: 16px">网站首页</a></li>
                <li><a href="/blog/list" style="font-size: 16px">文章列表</a></li>
                <li><a href="/blog/archive" style="font-size: 16px">文章归档</a></li>
                <li><a href="/blog/leave" style="font-size: 16px">网友留言</a></li>
                <li><a href="/blog/series" style="font-size: 16px">系列文章</a></li>
                <li><a href="/blog/about" style="font-size: 16px">关于本站</a></li>
            </ul>
          <label class="menu" for="togglebox">
                <i class="layui-icon layui-extend-hamburg-menu"></i>
            </label>
        </nav>
        <div class="clearfix"></div>
    </header>
    <section class="container">
		<!-- InstanceBeginEditable name="EditRegion1" -->

		<link href="../static/css/comment.css" rel="stylesheet" />
		<link href="../static/css/ArticleDetails.css" rel="stylesheet" />

		<div class="layui-container">
			<div class="card details">
				<h1 class="title text-center" style="font-size: 30px">{{ .content.Title }}</h1>
				<div class="details-info">
					<a target="_blank" href="http://www.fdevops.com/Web/Home/Article/eec2e894-a324-466c-b250-e41afb55d5fd.html">
						<i class="layui-icon layui-extend-fenlei"></i>
						<span>{{ .content.TypeName }}</span>
					</a>
					<i class="layui-icon layui-icon-username"></i><span>Mr. Lan</span>
					<i class="layui-icon layui-extend-riqi"></i><span>{{ .content.CreatedAt.Format "2006-01-02 15:04:05" }}</span>
					<i class="layui-icon layui-extend-wiappfangwenliang"></i>
					<span id="click_count_text">{{ .content.View }}</span>
					<a href="#am_comment">
						<i class="layui-icon layui-icon-dialogue"></i>
						<span id="comment_count_text">{{ .content.CommentCount }}条</span>
					</a>
					<a href="#am_praise">
						<i class="layui-icon layui-extend-dianzan"></i>
						<span class="like_count_text">{{ .content.Awesome }}</span>
					</a>
				</div>
				<br>

				<div id="details-content" class="details-content" style="font-size: 18px">
					<textarea style="display:none;">{{ .content.Content.Content }}</textarea>
				</div>

				<div class="details-footer">
					<div class="praise">
						<span id="am_praise" class="target-fix">暗锚,解决锚点偏移</span>
						<p>若喜欢，就赞一下吧，你的鼓励是我最大的动力</p>
						<button id="btnLike" onclick="addAwesome({{ .content.Id }})" type="button" class="layui-btn">LIKE&nbsp;|&nbsp; <span class="like_count_text">{{ .content.Awesome }}</span>
						</button>
					</div>
					<hr>
					<h3 class="h3_class">温馨提示：本站所有文章，若非特别声明，均为原创，转载请注明作者及原文链接。</h3>
					{{ if ne .onContent.Title "" }}
					<p>上一篇：<a target="_blank" href="/blog/details?content_id={{ .onContent.Id }}">{{ .onContent.Title }}</a></p>
					{{ end }}
					{{ if ne .underContent.Title "" }}
					<p>下一篇：<a target="_blank" href="/blog/details?content_id={{ .underContent.Id }}">{{ .underContent.Title }}</a></p>
					{{ end }}
				</div>
			</div>
			<div class="card comment">
				<span id="am_comment" class="target-fix">暗锚,解决锚点偏移</span>
				<h2 class="side-title">文章评论</h2>
				<form class="layui-form blog-editor" lay-filter="formComment">
					<div class="layui-form-item">
						<textarea style="resize: none;" name="content" placeholder="请输入评论内容" class="layui-textarea blog-aricle-comment"></textarea>
					</div>
					<div class="layui-form-item">
						<button type="button" class="layui-btn" onclick="aricleComment({{ .content.Id }})" lay-submit lay-filter="formComment">提交评论</button>
					</div>
				</form>
				<!-- 评论列表 -->
				<ul class="blog-comment">
					{{ range .comment }}
					{{ $CommentId := .Id }}
					<li>
						<div class="comment-parent">
							<a><img src="{{ .Avatar }}" alt="" /></a>
							<div class="info">
								<span class="username"><a>{{ .Nickname }}</a></span>
								{{ if ne .UserTitle "" }}
									<span class="layui-badge layui-bg-orange">
										{{ .UserTitle }}
									</span>
								{{ end }}
							</div>
							<div class="content comment-text">
								{{ .Content }}
							</div>
							<p class="info info-footer">
								<span class="aux-word">
									<i class="layui-icon layui-icon-log"></i>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}
								</span>
								<span class="aux-word">
									<i class="layui-icon layui-extend-liulanqi"></i>{{ .Browser }}
								</span>
								<a class="btn-reply" href="javascript:;">回复</a>
							</p>
							<div class="replycontainer layui-hide">
								 <form class="layui-form blog-editor" lay-filter="formReply">
									 <textarea style="resize: none;" name="content" placeholder="请输入评论内容" id="comment-{{ .Id }}" class="layui-textarea"></textarea>
									<button type="button" class="layui-btn layui-btn-sm" onclick="addReply({{ .Id }}, {{ $CommentId }}, {{ .UserId }}, 'comment')" lay-submit lay-filter="formReply">提交</button>
								</form>
							</div>
						</div>
						<hr />
						{{ range .ReplyList }}
						<div class="comment-child">
							<a><img src="{{ .SAvatar }}" alt="" /></a>
							<div class="info">
								<span class="username"><a>{{ .SNickname }}</a></span>
								{{ if ne .SUserTitle "" }}
									<span class="layui-badge layui-bg-orange">
										{{ .SUserTitle }}
									</span>
								{{ end }}
								<span>回复<a class="to-username">@{{ .DNickname }}</a>：</span>
								{{ if ne .DUserTitle "" }}
									<span class="layui-badge layui-bg-orange">
										{{ .DUserTitle }}
									</span>
								{{ end }}
								<span class="comment-text">{{ .Content }}</span>
							</div>
							<p class="info">
								<span class="aux-word">
									<i class="layui-icon layui-icon-log"></i>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}
								</span>
								<span class="aux-word">
									<i class="layui-icon layui-extend-liulanqi"></i>{{ .Browser }}
								</span>
								<a class="btn-reply" href="javascript:;">回复</a>
							</p>
							<div class="replycontainer layui-hide">
								 <form class="layui-form blog-editor" lay-filter="formReply">
									 <textarea id="reply-{{ .Id }}" style="resize: none;" name="content" placeholder="请输入评论内容" class="layui-textarea"></textarea>
									 <button type="button" onclick="addReply({{ .Id }}, {{ $CommentId }}, {{ .SUserId }}, 'reply')" class="layui-btn layui-btn-sm" lay-submit lay-filter="formReply">提交</button>
								</form>
							</div>
						</div>
						{{ end }}
					</li>
					{{ end }}
				</ul>
				{{/*<div id="page"></div>*/}}
			</div>
		</div>

		<script src="../static/js/ArticleDetails.js"></script>
		<!-- InstanceEndEditable -->    
    </section>
   <footer>
     <p><a href="http://fdevops.com">Copyright &copy; 2019. Mr. Lan All rights reserved.</a></p>
    </footer>
    <div id="suspension">
        <div class="livechat-girl animated" onclick="login()">
          <img class="girl" src="../static/images/a.png" oncontextmenu="return false;" ondragstart="return false;">
            <div class="livechat-hint rd-notice-tooltip rd-notice-type-success rd-notice-position-left single-line show_hint">
                <div class="rd-notice-content">嘿，来试试登录吧！</div>
            </div>
            <div class="animated-circles">
                <div class="circle c-1"></div>
                <div class="circle c-2"></div>
                <div class="circle c-3"></div>
            </div>
        </div>
    </div>
    <!-- 打字机特效js-->
<script src="../static/js/typewriter-special-effects.js"></script>
<script src="../static/js/Template.js"></script>

	<script src="/static/editormd/lib/marked.min.js"></script>
	<script src="/static/editormd/lib/prettify.min.js"></script>
	<script src="/static/editormd/lib/raphael.min.js"></script>
	<script src="/static/editormd/lib/underscore.min.js"></script>
	<script src="/static/editormd/lib/sequence-diagram.min.js"></script>
	<script src="/static/editormd/lib/flowchart.min.js"></script>
	<script src="/static/editormd/lib/jquery.flowchart.min.js"></script>
	<script src="/static/editormd/editormd.js"></script>
	<script type="text/javascript">
		$().ready(function () {
			testEditormdView2 = editormd.markdownToHTML("details-content", {
				htmlDecode      : "style,script,iframe",  // you can filter tags decode
				emoji           : true,
				taskList        : true,
				// tex             : true,  // 默认不解析
				flowChart       : true,  // 默认不解析
				sequenceDiagram : true,  // 默认不解析
			});
		})
	</script>
</body>
<style>
	body > section > div > div.card.comment > form > div:nth-child(1) {
		margin-bottom: 10px;
	}
</style>
<!-- InstanceEnd --></html>