<!DOCTYPE html>

<html><!-- InstanceBegin template="/Templates/Template.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Window-target" content="_top">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Mr. Lan 关于博主</title>
    <!-- InstanceEndEditable -->
    <meta name="Author" contect="Mr. Lan">
	<meta name="Copyright" content="Mr. Lan">
	<meta name="keywords" content="个人博客,Mr. Lan" />
	<meta name="description" content="Mr. Lan，一个Golang/Python程序员的个人博客，记录博主学习和成长之路，分享Python/Golang方面技术和源码。" />
	<meta property="og:title" content="Mr. Lan" />
	<meta property="og:title" content="Mr. Lan 网站首页" />
	<meta property="og:type" content="个人博客" />
	<meta property="og:url" content="http://www.fdevops.com" />
	<meta property="og:image" content="http://www.qbl.link/Content/Web/images/logo.png" />
	<meta property="og:site_name" content="www.fdevops.com" />
	<meta property="og:description" content="Mr. Lan，一个Golang/Python程序员的个人博客，记录博主学习和成长之路，分享Python/Golang方面技术和源码。" />
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
	<link href="../static/css/loading.css" rel="stylesheet" />
	<link href="../static/css/scroll-bar.css" rel="stylesheet" />
	<link href="../static/Eextend/layui/css/layui.css" rel="stylesheet" media="all" />
	<link href="../static/css/common.css" rel="stylesheet" />
	<link href="../static/css/suspension.css" rel="stylesheet" />
	<link href="../static/css/animate.css" rel="stylesheet" />
	<link href="../static/Eextend/iconfont/iconfont.css" rel="stylesheet" />
	<script src="../static/Eextend/iconfont/iconfont.js"></script>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/Eextend/layui/layui.js"></script>
	<script src="../static/js/wow.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--
               ▄              ▄
              ▌▒█           ▄▀▒▌
              ▌▒▒▀▄        ▀▒▒▒▐
             ▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
           ▄▄▀▒▒▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
         ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▐
        ▐▒▒▒▄▄▄▒▒▒▒▒▒▒▒▒▒▒▒▒▀▄▒▒▌
        ▌▒▒▐▄█▀▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
       ▐▒▒▒▒▒▒▒▒▒▒▒▌██▀▒▒▒▒▒▒▒▒▀▄▌
       ▌▒▀▄██▄▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
       ▌▀▐▄█▄█▌▄▒▀▒▒▒▒▒▒░░░░░░▒▒▒▐
      ▐▒▀▐▀▐▀▒▒▄▄▒▄▒▒▒  typecho  ▒▌
      ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒░░░░░░▒▒▒▐
       ▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
       ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▐
        ▀ yo-du ▒▒▒▒▒▒▒▒▒▒▒▄▒▒▒▒▌
          ▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
         ▐▀▒▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
        ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀▀

        --你好，世界！生活，从敲的第一行代码开始。
    -->
<div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <header>
        <nav>
            <div class="logo">
              <a target='_blank' href="/blog/index">
                    <img src="../static/images/logo.png" oncontextmenu="return false;" ondragstart="return false;" />
                </a>
            </div>
            <!-- 汉堡菜单 -->
          <input type="checkbox" id="togglebox" />
            <ul>
                <li><a href="/blog/index" style="font-size: 16px">网站首页</a></li>
                <li><a href="/blog/list" style="font-size: 16px">文章列表</a></li>
                <li><a href="/blog/archive" style="font-size: 16px">文章归档</a></li>
                <li><a href="/blog/leave" style="font-size: 16px">网友留言</a></li>
                <li><a href="/blog/series" style="font-size: 16px">系列文章</a></li>
                <li><a href="/blog/about" style="font-size: 16px">关于本站</a></li>
            </ul>
          <label class="menu" for="togglebox">
                <i class="layui-icon layui-extend-hamburg-menu"></i>
            </label>
        </nav>
        <div class="clearfix"></div>
    </header>
    <section class="container">
		<!-- InstanceBeginEditable name="EditRegion1" -->
		
		<link href="../static/css/side-bar.css" rel="stylesheet" />
		<link href="../static/css/Author.css" rel="stylesheet" />
		
		<div class='side-bar'>
			<div class='box'>
				<a href="/blog/about"><div class='side bg-01'><span class='side-content'>关于本站</span></div></a>
			</div>
			<div class='box'>
				<a href="/blog/author"><div class='side bg-02'><span class='side-content'>关于博主</span></div></a>
			</div>
			<div class='box'>
				<a href="/blog/links"><div class='side bg-03'><span class='side-content'>友情链接</span></div></a>
			</div>
			<div class='box'>
				<a href="/blog/leave"><div class='side bg-04'><span class='side-content'>网站留言</span></div></a>
			</div>

		</div>
		
		<div class="about">
			<div class="layui-container">
				<div class="layui-row synopsis">
					<div class="layui-col-lg8 layui-col-lg-offset2 text-center">
						<img class="layui-anim layui-anim-rotate" src="../static/images/iconImage.png" alt="" oncontextmenu="return false;" ondragstart="return false;" />
						<h1 class="author-name wow lightSpeedIn">Mr. Lan</h1>
						<p class="author-describe wow slideInLeft">一个历经沧桑的Python/Golang程序员，但行好事，莫问前程。</p>
						<p class="author-location text-center wow bounceInRight">
							<i class="layui-icon layui-icon-location"></i>中国-北京
						</p>
					</div>
				</div>
				<div class="layui-row contact wow rollIn">
					<div class="layui-col-md4 layui-col-md-offset4">
						<a href="http://wpa.qq.com/msgrd?v=3&uin=934744141&site=qq&menu=yes">
							<i class="layui-icon layui-extend-QQ"></i>
						</a>
						{{/*<a>*/}}
							{{/*<i class="layui-icon layui-extend-weixin add-wechat"></i>*/}}
						{{/*</a>*/}}
						{{/*<a>*/}}
							{{/*<i class="layui-icon layui-extend-weibo"></i>*/}}
						{{/*</a>*/}}
						<a href="https://github.com/lanyulei">
							<i class="layui-icon layui-extend-GitHub"></i>
						</a>
						<a href="mailto:fdevops@163.com">
							<i class="layui-icon layui-extend-mail"></i>
						</a>
					</div>
				</div>
				<div class="introduce" style="margin-top: 30px">
					<fieldset class="layui-elem-field layui-field-title wow zoomIn">
						<legend class="text-center">简介</legend>
						<div class="layui-field-box">
							<h1>个人介绍</h1>
							<p>
								我是个18岁的男孩，为什么叫男孩呢。因为我的心还是很幼小的。
							</p>
							<p>
								我是个快就要成年的男人，为什么叫男人呢。因为我有男人所有的东西。
							</p>
							<p>
								哈哈。其实我自己也不是很了解自己，我外表看上去永远是快乐的，但内心却未必。我为很多事担心，操心，劳心，费心，甚至死心！
							</p>
							<p>
								就比说作为一个程序员，我常常会想，如果我不努力学习新的东西会不会被淘汰，毕竟现在计算机的发展太快了，前一秒还热火朝天的讨论，没准下一秒就有人发布新的替代品了。
							</p>
							<p>
								我觉得一个人有了痛苦才能体会快乐的存在，只有曾经的痛苦，才有如今的快乐。
							</p>
							<p>
								人的一生可以分几个阶段吧：幼年，童年，少年，青年，成年，中年，老年。我正处于的是青年，是个少年与成年的桥梁。我回忆少年，因为少年给我带来的无比的快乐；我向往成年，因为成年了就能做许多自己愿意做的事，不在受任何人的阻止和约束。
							</p>
							<p>
								人总要学着慢慢长大，我觉得我经历的也蛮多的了。
							</p>
							<p>
								说了这么多，你还是很不怎么了解我吧。哈哈。那就来认识认识我一下吧，我还是很喜欢交朋友的。
							</p>
						</div>
					</fieldset>
				</div>
				<div class="skill-box wow slideInUp" style="margin-top: 30px">
					<fieldset class="layui-elem-field layui-field-title">
						<legend class="text-center">技能</legend>
						<div class="layui-field-box">
							<div class="layui-row layui-col-space30">
								<div class="layui-col-md4 layui-col-sm6 layui-col-xs12 progress">
									<p>Python</p>
									<div class="layui-progress" lay-showPercent="true">
										<div class="layui-progress-bar" lay-percent="85%"></div>
									</div>
								</div>
								<div class="layui-col-md4 layui-col-sm6 layui-col-xs12 progress">
									<p>Golang</p>
									<div class="layui-progress" lay-showPercent="true">
										<div class="layui-progress-bar" lay-percent="85%" style="background-color:#d35400 !important;"></div>
									</div>
								</div>
								<div class="layui-col-md4 layui-col-sm6 layui-col-xs12 progress">
									<p>Html</p>
									<div class="layui-progress" lay-showPercent="true">
										<div class="layui-progress-bar layui-bg-blue" lay-percent="80%"></div>
									</div>
								</div>
								<div class="layui-col-md4 layui-col-sm6 layui-col-xs12 progress">
									<p>CSS</p>
									<div class="layui-progress" lay-showPercent="true">
										<div class="layui-progress-bar layui-bg-orange" lay-percent="70%"></div>
									</div>
								</div>
								<div class="layui-col-md4 layui-col-sm6 layui-col-xs12 progress">
									<p>jQuery</p>
									<div class="layui-progress" lay-showPercent="true">
										<div class="layui-progress-bar" lay-percent="75%" style="background-color:#8e44ad !important;"></div>
									</div>
								</div>
								<div class="layui-col-md4 layui-col-sm6 layui-col-xs12 progress">
									<p>C/C++</p>
									<div class="layui-progress" lay-showPercent="true">
										<div class="layui-progress-bar layui-bg-red" lay-percent="30%"></div>
									</div>
								</div>
								<div class="layui-col-md4 layui-col-sm6 layui-col-xs12 progress">
									<p>MySQL</p>
									<div class="layui-progress" lay-showPercent="true">
										<div class="layui-progress-bar layui-bg-orange" lay-percent="60%"></div>
									</div>
								</div>
								<div class="layui-col-md4 layui-col-sm6 layui-col-xs12 progress">
									<p>Vue</p>
									<div class="layui-progress" lay-showPercent="true">
										<div class="layui-progress-bar" lay-percent="60%"></div>
									</div>
								</div>
								<div class="layui-col-md4 layui-col-sm6 layui-col-xs12 progress">
									<p>Bootstrap</p>
									<div class="layui-progress" lay-showPercent="true">
										<div class="layui-progress-bar layui-bg-cyan" lay-percent="70%"></div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

		<script src="../static/js/side-bar.js"></script>
		<script>
			function iniParam() {}
			//初始化WOW.js
			new WOW().init();
		</script>

		<!-- InstanceEndEditable -->    
    </section>
   <footer>
     <p><a href="http://fdevops.com">Copyright &copy; 2019. Mr. Lan All rights reserved.</a></p>
    </footer>
    <div id="suspension">
        <div class="livechat-girl animated">
          <img class="girl" src="../static/images/a.png" oncontextmenu="return false;" ondragstart="return false;">
            <div class="livechat-hint rd-notice-tooltip rd-notice-type-success rd-notice-position-left single-line show_hint">
                <div class="rd-notice-content">嘿，来试试登录吧！</div>
            </div>
            <div class="animated-circles">
                <div class="circle c-1"></div>
                <div class="circle c-2"></div>
                <div class="circle c-3"></div>
            </div>
        </div>
    </div>
    <!-- 打字机特效js-->
<script src="../static/js/typewriter-special-effects.js"></script>
<script src="../static/js/Template.js"></script>
<!-- 这个JS展示公告层用的，无关紧要可以删掉 -->

</body>
<!-- InstanceEnd --></html>