<!DOCTYPE html>

<html><!-- InstanceBegin template="/Templates/Template.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Window-target" content="_top">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Mr. Lan</title>
    <!-- InstanceEndEditable -->
    <meta name="Author" contect="Mr. Lan">
	<meta name="Copyright" content="Mr. Lan">
	<meta name="keywords" content="个人博客,Mr. Lan" />
	<meta name="description" content="Mr. Lan，一个Golang/Python程序员的个人博客，记录博主学习和成长之路，分享Python/Golang方面技术和源码。" />
	<meta property="og:title" content="Mr. Lan" />
	<meta property="og:title" content="Mr. Lan 网站首页" />
	<meta property="og:type" content="个人博客" />
	<meta property="og:url" content="http://www.fdevops.com" />
	<meta property="og:image" content="http://www.qbl.link/Content/Web/images/logo.png" />
	<meta property="og:site_name" content="www.fdevops.com" />
	<meta property="og:description" content="Mr. Lan，一个Golang/Python程序员的个人博客，记录博主学习和成长之路，分享Python/Golang方面技术和源码。" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link href="../static/css/loading.css" rel="stylesheet" />
	<link href="../static/css/scroll-bar.css" rel="stylesheet" />
	<link href="../static/Eextend/layui/css/layui.css" rel="stylesheet" media="all" />
	<link href="../static/css/common.css" rel="stylesheet" />
	<link href="../static/css/suspension.css" rel="stylesheet" />
	<link href="../static/css/animate.css" rel="stylesheet" />
	<link href="../static/Eextend/iconfont/iconfont.css" rel="stylesheet" />

    <!-- Required Stylesheets -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/tree/bootstrap-treeview.min.css" rel="stylesheet">

	<script src="../static/Eextend/iconfont/iconfont.js"></script>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/Eextend/layui/layui.js"></script>
	<script src="../static/js/wow.min.js"></script>

    <!-- Required Javascript -->
    <script src="/static/tree/bootstrap-treeview.min.js"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--
               ▄              ▄
              ▌▒█           ▄▀▒▌
              ▌▒▒▀▄        ▀▒▒▒▐
             ▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
           ▄▄▀▒▒▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
         ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▐
        ▐▒▒▒▄▄▄▒▒▒▒▒▒▒▒▒▒▒▒▒▀▄▒▒▌
        ▌▒▒▐▄█▀▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
       ▐▒▒▒▒▒▒▒▒▒▒▒▌██▀▒▒▒▒▒▒▒▒▀▄▌
       ▌▒▀▄██▄▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
       ▌▀▐▄█▄█▌▄▒▀▒▒▒▒▒▒░░░░░░▒▒▒▐
      ▐▒▀▐▀▐▀▒▒▄▄▒▄▒▒▒  typecho  ▒▌
      ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒░░░░░░▒▒▒▐
       ▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
       ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▐
        ▀ yo-du ▒▒▒▒▒▒▒▒▒▒▒▄▒▒▒▒▌
          ▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
         ▐▀▒▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
        ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀▀

        --你好，世界！生活，从敲的第一行代码开始。
    -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <header>
        <nav>
            <div class="logo">
              <a target='_blank' href="/blog/index">
                    <img src="../static/images/logo.png" oncontextmenu="return false;" ondragstart="return false;" />
                </a>
            </div>
            <!-- 汉堡菜单 -->
          <input type="checkbox" id="togglebox" />
            <ul>
                <li><a href="/blog/index" style="font-size: 16px">网站首页</a></li>
                <li><a href="/blog/list" style="font-size: 16px">文章列表</a></li>
                <li><a href="/blog/archive" style="font-size: 16px">文章归档</a></li>
                <li><a href="MessageBoard.html" style="font-size: 16px">网友留言</a></li>
                <li><a href="/blog/series" style="font-size: 16px">系列文章</a></li>
                <li><a href="/blog/about" style="font-size: 16px">关于本站</a></li>
            </ul>
          <label class="menu" for="togglebox">
                <i class="layui-icon layui-extend-hamburg-menu"></i>
            </label>
        </nav>
        <div class="clearfix"></div>
    </header>
		<!-- InstanceBeginEditable name="EditRegion1" -->
    <link href="../static/css/comment.css" rel="stylesheet" />
    <link href="../static/css/ResourcesDetails.css" rel="stylesheet" />
    <!-- 代码高亮 -->
    <link href="../static/Eextend/highlight/styles/monokai-sublime.css" rel="stylesheet" />
    <script src="../static/Eextend/highlight/highlight.pack.js"></script>
    <div class="layui-container container" style="padding: 0">
        <div class="left-title title_content">
            <div class="details-content-title details-content">
                Python从基础到高级
            </div>
            <div class="details-content-menu">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="input" class="form-control" id="input-select-node" placeholder="请输入搜索内容" value="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div id="treeview-selectable" class=""></div>
                </div>
            </div>
        </div>
        <div class="right-content title_content">
            <div class="content-title-div">

            </div>
        </div>
    </div>
    <footer style="float: left; width: 100%;">
      <p style="margin: 0"><a href="http://www.fdevops.com">Copyright &copy; 2019. Mr. Lan All rights reserved.</a></p>
    </footer>
    <div id="suspension">
        <div class="livechat-girl animated">
          <img class="girl" src="../static/images/a.png" oncontextmenu="return false;" ondragstart="return false;">
            <div class="livechat-hint rd-notice-tooltip rd-notice-type-success rd-notice-position-left single-line show_hint">
                <div class="rd-notice-content">嗨，来试试登录吧！</div>
            </div>
            <div class="animated-circles">
                <div class="circle c-1"></div>
                <div class="circle c-2"></div>
                <div class="circle c-3"></div>
            </div>
        </div>
    </div>
    <!-- 打字机特效js-->
<script src="../static/js/typewriter-special-effects.js"></script>
<script src="../static/js/Template.js"></script>
<script>
    function iniParam() {
        console.log("惊不惊喜，意不意外，被你发现我了啊")
    }
</script>
<!-- 这个JS展示公告层用的，无关紧要可以删掉。 -->
<script>
    $().ready(function () {
        var defaultData = {{ .titleTree }}
        var initSelectableTree = function() {
            return $('#treeview-selectable').treeview({
                levels: 2,
                data: defaultData,
                // enableLinks: true,
                onNodeSelected: function (event, node) {
                    console.log(node.id)
                    $(this).treeview('unselectNode', [node.nodeId, { silent: false }]);
                },
                onNodeUnselected: function (event, node) {
                    $(this).treeview('selectNode', [node.nodeId, { silent: true }]);
                },
                onNodeCollapsed:function(event, node){
                    $.each(node.nodes, function(){
                        if(this.state.selected){
                            $('#treeview-selectable').treeview('selectNode', [ node.nodeId, { silent: true } ]);
                            return
                        }
                    });
                }
            });
        };
        var $selectableTree = initSelectableTree();

        var findSelectableNodes = function() {
            return $selectableTree.treeview('search', [ $('#input-select-node').val(), { ignoreCase: false, exactMatch: false } ]);
        };
        var selectableNodes = findSelectableNodes();

        // Select/unselect/toggle nodes
        $('#input-select-node').on('keyup', function (e) {
            selectableNodes = findSelectableNodes();
            $('.select-node').prop('disabled', !(selectableNodes.length >= 1));
        });

        // 默认选中一个菜单
        $selectableTree.treeview('selectNode',[0,{silent:true}]);
        var jsonDataObject = JSON.parse(defaultData)
        // 获取默认节点的内容

    });
</script>
<style>
    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
    }
</style>
</body>
<!-- InstanceEnd -->
</html>