#loading {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0;
    top: 0;
}

#loading-center {
    width: 100%;
    height: 100%;
}

#loading-center-absolute {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading_object {
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    transform: scale(0);
    animation: bulge 2s infinite ease-in-out;
}

.loading_object::after {
    position: absolute;
    display: inline-block;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1);
    animation: blow 2s infinite ease-in-out;
}

.loading_object:nth-child(1) {
    background-color: #4695B8;
    animation-delay: 0s;
}

.loading_object:nth-child(2) {
    background-color: #67A142;
    animation-delay: .25s;
}

.loading_object:nth-child(3) {
    background-color: #8FC0A7;
    animation-delay: .50s;
}


@keyframes bulge {
    50% {
        transform: scale(1);
    }
}


@keyframes blow {
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.5;
    }
    90% {
        opacity: 0;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
