@charset "utf-8";
/* CSS Document */

.layui-container {
    padding-top: 20px;
}
.text-center {
    text-align: center !important;
}
/* 卡片样式 */
.card {
    position: relative;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
}
.side-title {
    font-size: 14.5px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    color: #484848;
    font-weight: normal;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.side-title:hover:after {
    width: 100%;
}
.side-title:after {
    content: "";
    position: absolute;
    width: 65px;
    height: 2px;
    background: #000;
    left: 0;
    bottom: -1px;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.card .side-title span {
    margin: 0 5px;
}

.details-footer .side-title {
    font-size: 17px;
    font-weight: bold;
}
.details-footer .side-title:hover:after {
    width: 85px;
}

/* 文章评论 */
.comment .side-title {
    font-size: 16px;
}
.comment .side-title:hover:after {
    width: 85px;
}
.comment .editor-box {
    margin-top: 15px;
}
.comment .blog-comment {
    margin-top: 10px;
}
#page {
    text-align: right;
}

/* 媒体查询 */
@media screen and (min-width: 1400px) {
    .layui-container {
        width: 100%;
    }
}

.left-title {
    width: 17%;
}

.right-content {
    width: 83%;
}

.title_content {
    border: 1px solid red;
    margin-bottom: 55px;
    margin-top: 80px;
    width: 100%;
}

.content-title-div {
    border: 1px solid red;
    text-align: center;
}

.details-content {
    padding: 0;
}

.details-content-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
}

.details-content-search {
    padding-top: 7px;
}

.details-content-menu {
    height: 100%;
    padding-top: 15px;
}

#treeview-selectable > ul > li {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    white-space:nowrap;
    -webkit-box-orient:vertical;
}

body > header > nav > ul > li > a:link{text-decoration:none; }

body > header > nav > ul > li > a:visited{text-decoration:none; }

body > header > nav > ul > li > a:hover{text-decoration:none; }

body > header > nav > ul > li > a:active{text-decoration:none; }
